{% extends "inventory/base.html" %}

{% block title %}Admin Login - LabelGen{% endblock %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-4">
        <div class="box">
            <h1 class="title has-text-centered">
                <span class="icon-text">
                    <span class="icon"><i class="fas fa-lock"></i></span>
                    <span>Admin Access</span>
                </span>
            </h1>
            <p class="subtitle has-text-centered">Management Portal</p>
            
            <form method="post">
                {% csrf_token %}
                
                {% if form.non_field_errors %}
                    <div class="notification is-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                
                <div class="field">
                    <label class="label">{{ form.password.label }}</label>
                    <div class="control has-icons-left">
                        {{ form.password }}
                        <span class="icon is-left">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    {% if form.password.errors %}
                        <p class="help is-danger">{{ form.password.errors.0 }}</p>
                    {% endif %}
                </div>
                
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary is-fullwidth">
                            <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                            <span>Login</span>
                        </button>
                    </div>
                </div>
            </form>
            
            <hr>
            
            <p class="has-text-centered">
                <a href="{% url 'inventory:home' %}" class="button is-text">
                    <span class="icon"><i class="fas fa-arrow-left"></i></span>
                    <span>Back to Home</span>
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
